<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/leben.jpg') }}">

    <!-- Conexión con estilos CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="{{ url_for('static', filename='js/tabla.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script>
        function toggleForm() {
            const formContainer = document.getElementById('form-container');
            const overlay = document.getElementById('overlay');
            formContainer.classList.toggle('active');
            overlay.classList.toggle('active');
        }

    </script>
</head>

<body>

    <!-- Menu header -->
    <header>
        <div class="back">
            <div class="menu container">
                <a href="{{ url_for('index')}}" class="logo"><img
                        src="{{ url_for('static', filename='img/leben.jpg') }}" alt="Logo"></a>
                <nav class="navbar">
                    <ul>
                        <ul>
                            <li><a href="#">Bienvenido al modulo de ventas.</a></li>
                            <li><a href="{{ url_for('index')}}"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Fondo oscuro -->
    <div id="overlay" class="overlay"></div>


    <!-- Tabla -->
    <section class="main">
        <section class="attendance">
            <div class="attendance-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre Usuario</th>
                            <th>Fecha Venta</th>
                            <th>Estado Venta</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venta in ventas %}
                        <tr>
                            <td>{{ venta.idventa }}</td>
                            <td>{{ venta.nombreusuario }}</td>
                            <td>{{ venta.fechaventa }}</td>
                            <td>{{ venta.estadoventa }}</td>
                            <td>{{ venta.totalventa }}</td>
                            <td>
                                <button onclick="generarComprobante('{{ venta.idventa }}')" class="btn-editar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>

    <!-- Modal -->
    <div id="modalComprobante" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h1>Comprobante de Pago</h1>
            <div id="detalleComprobante">
                <!-- Aquí se insertarán los detalles del comprobante -->
            </div>
            <button onclick="imprimirComprobante()">Imprimir Comprobante</button>
        </div>
    </div>

    <script>
        function generarComprobante(idVenta) {
            console.log('Generando comprobante para la venta con ID:', idVenta);
            fetch('/comprobante/' + idVenta)
                .then(response => {
                    console.log('Respuesta de la solicitud fetch:', response); // Mensaje de depuración
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Respuesta del servidor:', data); // Mensaje de depuración
                    if (data.success) {
                        const detalleComprobante = document.getElementById('detalleComprobante');
                        detalleComprobante.innerHTML = `
                    <p>ID Venta: ${data.venta.idventa}</p>
                    <p>Nombre Usuario: ${data.venta.nombreusuario}</p>
                    <p>Fecha Venta: ${data.venta.fechaventa}</p>
                    <p>Estado Venta: VENDIDO</p>
                    <p>Total Venta: ${data.venta.totalventa}</p>
                    <h2>Detalles de la Venta</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${data.detalles.map(detalle => `
                                <tr>
                                    <td>${detalle.nombreproducto}</td>
                                    <td>${detalle.cantidadproducto}</td>
                                    <td>${detalle.subtotaldetalleventa}</td>
                                </tr>
                            `).join('')}
                        </tbody>
                    </table>
                `;
                        document.getElementById('modalComprobante').style.display = 'block';
                    } else {
                        alert('Error al obtener el comprobante: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error en la solicitud:', error); // Mensaje de depuración
                    alert('Error al obtener el comprobante.');
                });
        }

        function cerrarModal() {
            document.getElementById('modalComprobante').style.display = 'none';
        }

        function imprimirComprobante() {
            const printContents = document.getElementById('detalleComprobante').innerHTML;
            const originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
            window.location.reload(); // Recargar la página para restaurar el contenido original

            // Obtener el id de la venta del detalle del comprobante
            const idVenta = document.querySelector('#detalleComprobante p:nth-child(1)').textContent.split(' ')[2];

            // Realizar la solicitud para actualizar el estado de la venta
            fetch('/actualizarEstadoVenta/' + idVenta, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ estado: 'VENDIDO' })
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Estado de venta actualizado:', data);
                    // Puedes manejar la respuesta según lo necesites
                })
                .catch(error => {
                    console.error('Error al actualizar el estado de la venta:', error);
                    // Puedes mostrar una alerta u otro mensaje de error
                });
        }

    </script>




    <!-- Menu footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <ul>
                        <li><a href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='img/leben.jpg') }}"
                                    alt="logo"></a></li>
                        <li>
                            <h3>Acerca de Leben</h3>
                        </li>
                        <li>
                            <p>Desde el 2016 mostrando el talento colombiano en el diseño de ropa y accesorios</p>
                        </li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Menú</h4>
                    <ul>
                        <li><a href="{{ url_for('index')}}">Inicio</a></li>
                        <li><a href="{{ url_for('productos')}}">Productos</a></li>
                        <li><a href="{{ url_for('contacto')}}">Contacto</a></li>
                        <li><a href="{{ url_for('nosotros')}}">Nosotros</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Distribuidores</h4>
                    <ul>
                        <li><a href="https://www.instagram.com/tejistarco/">Tejistar</a></li>
                        <li><a href="https://www.instagram.com/sativatattoo_/">Satica Tattoo Studio</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Redes</h4>
                    <div class="social-link">
                        <a href="https://www.facebook.com/LebenLBN"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/leben_brand/"><i class="fab fa-instagram"></i></a>
                        <a
                            href="https://api.whatsapp.com/send/?phone=573105267491&text=Me+interesa+un+producto+LEBEN+-+hecho+en+Colombia+leben.com.co&type=phone_number&app_absent=0"><i
                                class="fab fa-whatsapp"></i></a>
                        <a href="https://www.youtube.com/c/LebenTV/videos"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>